*{

    margin:0;
    padding:0;
    box-sizing:border-box;
    
    }
    
    html,body{
        
      width:100%;
      height:100%;
    
    }

    .main-cont{
        width:100%;
       
        margin-top: 100px;
    }

    .my-navi{
    position: fixed;
    width: 100%;
    
        

        
        
    }

    .cart{
        color: white;
        order: 0;
        margin-right: 15px;
    }

    .logo{

        order:-1;
    
        
    }

    .searchbar{

          order:0 ;
          
          

    }

    .searchbar-width{
        width:2px;
    }

    .menu{
        order:0;
        
        
    }

    .nav-list{
        width:100%;
        text-align: right;
        display: flex;
        justify-content: flex-end;
        
        
    }

    .main-body{
        width: 100%;
        background-color: rgb(82, 84, 86);

        
    }

    .Slider{
        height: 250px;
    }

    .discount-coupon{
        align-self: center;
        height:180px;
        padding: 10px;
        width:100%;
        display: flex;
        justify-content: center;
    
    }
    

    .mens-card-sec{
        padding: 20px;
        overflow:auto;
    display: flex;
    justify-content: space-evenly;
    
    }

   .mens-card{
 
    margin-bottom: 5px;
    margin-top: 10px;

   }

   .card-body{

    background-color: rgb(89, 89, 89);
    color: white;

   }

   .mens-buy-card{
    width:100%;
    display: flex;flex-wrap: wrap;
    justify-content:space-between ;
    margin: 0;
    justify-content: center;
    background-color: slategrey;
    padding: 20px;
 
   }

   .card{
    margin-bottom: 15px;
    margin-right: 15px;
   }



   .footer{
    width: 100%;
    height: auto;
   }

   footer{
    width:100%;
    height:auto;
    background-color:#282828;
    padding-bottom: 20px;

   }

   .square{
    width: 100%;
    height: auto;
    margin-top: 48px;
    padding: 0px !important;
    padding-bottom: 20px;

   }

   .brand{
    margin-top: 20px;
    font-size: 38px;
    color: #00a991;
    font-weight: bold;
   }

   .about{
    width: 85%;
    color: white;
    margin-top: 5px;
   }

   .heading{
    margin-top: 20px;
    font-size: 38px;
    color: #00a991;
    font-weight: bold;
    text-align: center;
   }

   .p-list{
    padding: 0;
   }

   .p-list .footer-list{
    display: block;
    text-align: center;
    margin: 5px 0px;
    color: white;

   }

  


   .l-list .footer-list{
    display: block;
    text-align: center;
    margin: 5px 0px;
    color: white;
   }

   .contact{
    padding: 0;

   }

   .contact .footer-list{
    display: block;
    text-align: center;
    margin: 5px 0px;
    color: white;
   }

   .social-media{
    text-align: center;
    margin-top: 20px;

   }

   .social-media .footer-list{
    display: inline;
    color: white;
    margin: 5px;
    font-size: 25px;
   }

   .copy{
    text-align: center;
    color: white;
    margin-top: 20px;

   }

   @media(max-width:767px){

    .heading{
        text-align: left;
    }
    
    .square{
        padding: 0px 30px !important;
        margin-top: 10px !important;
    }

     .p-list .footer-list{
        text-align: left;
     }

     
     .l-list .footer-list{
        text-align: left;
     }

     
     .contact .footer-list{
        text-align: left;
     }

     

   }

   
.header-card{
    background-color: rgb(56, 66, 77);
}























    @media(min-width:768px){

     .searchbar-width{
        width:210px;
     }

     .menu{
        order: -2;
     }

     .nav-list{

        display: none;
        text-align: left;
     }

     .Slider{
        height:500px;
     }

    .main-cont{
        margin-top: 60px;
    }



    }




   @media(min-width:1024px){

    .cart{
        margin-left:10px ;
        order: 1;
    }

    .searchbar{
        order: 1;

    }
    

    
  .nav-list{
    justify-content: center;
  }

  .slider{
    height: 500px;
  }




  



   }




    
    

